body {
  background-color: lightcoral;
}
h1 {
  text-size-adjust: 50%;
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: burlywood;
  color: darkolivegreen;
  font-size: 250%;
  border-radius: 40px;
  width: auto;
}  
ul {
  font-size: 120%;
  margin: 20px;
  padding: 20px;
}
a {
  font-size: 140%;
}
h2 {
  font-size: 150%;
  color: green;
  margin: 10px;
  padding: 20px;
  background-color: burlywood;
  width: 10%;
  border-radius: 40px;
}
p {
  margin: 10px;
  padding: 10px;
  width: 50%;
  font-size: 150%;
}
#h2style1 {
  font-size: 150%;
  color: green;
  margin: 10px;
  padding: 20px;
  background-color: burlywood;
  width: 10%;
  border-radius: 30px;
}
#h2style2 {
  font-size: 150%;
  color: green;
  margin: 10px;
  padding: 20px;
  background-color: burlywood;
  width: 13%;
  border-radius: 30px;
}

ol {
  font-size: 120%;
  margin: 20px;
  padding: 20px;
}
#profilepic {
  float: right;
  top: 200px;
  padding: 40px;
  margin: 40px;
      grow {
        ransition: all:.2s ease-in-out;

      hover {
        transform: scale(1.5);
    }
  }
}
